:root {
    --primary-color: #f44336;
    --text-color: #F0EDE5;
    --heading-color: #FAF0E6;
    --paragraph-color: #FFFFF0;
    --background: rgba(4, 9, 30, 0.7);
    --background-color: #04324b; 
    --background-body: linear-gradient(to top right, #010322f2, #030a1ef7, rgba(232, 178, 163, 0.904));
    --second-background-body: #010322f2;
  
    /* Typography */
    --font-heading: "Aleo", serif;
    --font-body: "Lato", sans-serif;
    
    /* Font Sizes */
    --font-size-h1: 48px;
    --font-size-h2: 36px;
    --font-size-h3: 24px;
    --font-size-h4: 20px;
    --font-size-h5: 18px;
    --font-size-h6: 16px;
    --font-size-p: 16px;
  }
  
  * {
    margin: 0;
    padding: 0;
    font-family: var(--font-body);
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    background-image: var(--background-body);
  }

  .blue_body {
    background: var(--second-background-body);
  }
  
  h1, .largest {
    color: var(--heading-color);
    font-family: var(--font-heading);
    font-size: var(--font-size-h1);
  }
  
  h2, .larger {
    color: var(--heading-color);
    font-family: var(--font-heading);
    font-size: var(--font-size-h2);
  }
  
  h3, .large {
    color: var(--heading-color);
    font-family: var(--font-heading);
    font-size: var(--font-size-h3);
  }
  
  h4, .small {
    color: var(--heading-color);
    font-family: var(--font-heading);
    font-size: var(--font-size-h4);
  }
  
  h5, .smaller {
    color: var(--heading-color);
    font-family: var(--font-heading);
    font-size: var(--font-size-h5);
  }
  
  h6, .smallest {
    color: var(--heading-color);
    font-family: var(--font-heading);
    font-size: var(--font-size-h6);
  }
  
  p, .text {
    color: var(--paragraph-color);
    font-size: var(--font-size-p);
    word-wrap: break-word;
    word-break: break-word;
    line-height: 1.5rem;
  }

  ol {
    color: var(--text-color);
  }

  .dragon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    z-index: 10000000;
    transform: scaleX(-1);
  }

  .header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/3.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
  }
  
  nav {
    display: flex;
    padding: 1% 6%;
    justify-content: space-between;
    align-items: center;
  }
  
  nav img {
    width: 8em;
    z-index: 19;
  }
  
  .nav-links {
    flex: 1;
    text-align: right;
  }
  
  .nav-links ul {
    padding: 8px 12px;
  }
  
  .listsytle-none {
    list-style: none;
    display: inline-block;
    position: relative;
  }
  
  .nav-links ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 13px;
    margin: 10px;
  }
  
  .nav-links ul li::after {
    content: '';
    width: 0;
    height: 2px;
    background: var(--primary-color);
    display: block;
    margin: auto;
    transition: width 0.5s;
  }
  
  .nav-links ul li:hover::after {
    width: 100%;
  }

  .click {
    display: "block";
  }

  #backspace,
  #list {
    display: none;
  }
  
  .text-box {
    width: 90%;
    color: var(--text-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .text-box h1 {
    font-size: var(--font-size-h1);
    margin-bottom: 10px;
  }

  .text-box p {
    margin: 10px 0 40px;
    font-size: var(--font-size-p);
  }

  .hero-btn,
  #click {
    display: inline-block;
    text-decoration: none;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    border-radius: 40px;
    position: relative;
    cursor: pointer;
  }
  
  .hero-btn:hover,
  #click:hover {
    border: 1px solid var(--primary-color);
    background: var(--primary-color);
    color: var(--paragraph-color);
    transition: 1s;
  }
  
  #click {
    display: none;
  }

  .display-flex-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 200px;
    position: relative;
  }

  .display-flex-wrap__element {
    flex: 1;
    width: 100%;
  }

  
  .about-us {
    z-index: 1;
    height: 100vh;
  }
 
  .about-us__body {
    padding-top: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .introdution-myself {
    display : flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
  }

  .saurav-picture__frame {
    width: 400px;
  }

  .frame__picture {
    height: 100%;
    width: 100%;
    border: 20px white;
    border-radius: 50%;
    background-color: var(--background-color);
  }

  .frame__picture_low-brightness {
    filter: brightness(0.8);
  }

  .introdution-myself__saurav-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
  }

  .saurav-intro__title {
    text-align: center;
    font-size: var(--font-size-h2);
  } 
  
  .saurav-intro__text {
    text-align: justify;
    font-size: var(--font-size-h5);
    width: 500px;
    line-height: 1.8;
    letter-spacing: 0.1em;
  }


  .content-space {
    padding: 5em;
    height: 100vh;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }

  .title__blog {
    font-size: var(--font-size-h2);
  }

  .container__text {
    display: flex;
    justify-content: center;
    gap: 50px;
  }

  .part {
    font-size: var(--font-size-h5);
    width: 500px;
    height: 100%;
    text-align: justify;
    line-height: 1.8;
    letter-spacing: 0.1em;
  }

  .contact {
    background-color: var(--background-color);
    width: 100%;
    height: 300px;
  }

  .contact__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 30px;
  }

  .icon-nounderline-white-color {
    text-decoration: none;
    color: var(--text-color);
  }

  .flex-gap, .email__discrip {
    display: flex;
    justify-content: left;
    gap: 10px;
  }

  .medium-size {
    font-size: var(--font-size-h4);
  }

  .other-social-media-accounts {
    display: flex;
  }

  /* CSS of case study page */

  .center-box {
    margin: 5%;
    max-width: 100%;
    word-wrap: break-word;
  }

  .text_align_center {
    text-align: center;
  }

  .function-color-blue {
    color:  #67a6fe;
  }

  .file-color-orange {
    color:  #cd6c4d;
  }

  .center-box__code_box {
    padding: 1px;
    border: 1px solid green;
    border-radius: 40px;
    background: black;
  }

  .code_box__text {
    margin: 0.5rem 2rem 0.5rem;
    letter-spacing: 1.5px;
  }

  .center-box__table_image_box {
    width: 100%;
    height: 12rem;
    background:red;
  }

  .center-box___image_box {
    width: 15rem;
    height: 15rem;
    background: green;
  }

  .import_function_color_green {
    color: green;
  }

  .comment_color_celeste {
    color: rgb(71, 205, 214);
  }

  .padding-left-40px {
    padding-left: 40px;
  }

  .padding-left-80px {
    padding-left: 80px;
  }

  .output-color-red {
    color: rgb(191, 15, 15);
  }

  .output_background {
    background: #121b3b;
  }

  img {
    max-width: 70%;
  }

  @media (max-width: 700px) {
    .text-box h1 {
      font-size: 20px;
    }

    .mobile-text-size {
      font-size: 24px;
    }
  
    .nav-links ul li {
      display: block;
    }
    
    .nav-links {
      position: absolute;
      background: var(--primary-color);
      height: 100vh;
      width: 200px;
      top: 0;
      right: 0;
      text-align: left;
      z-index: 2;
      transition: 1s;
      display: none;
      border-radius: 5rem 0rem 0rem 80rem;
    }

    #list {
      display: block;
    }
  
    .click {
      display: block;
      margin: 10px;
      font-size: 22px;
      color : white;
    }
  
    .nav-links ul {
      padding: 30px;
    }

    .mobile-flex-column{
      display: flex;
      flex-direction: column;
      gap: 30px;
    }

    .frame__picture-mobile-size {
      width: 200px;
      height: 200px;
    }

    .mobile-paragraph-size {
      font-size: 16px;
      width: 200px;
    }

    .frame {
      text-align: center;
    }

    .saurav-intro {
      height: 100%;
    }
    .saurav-picture__frame {
      margin: 30px;
    }

    .content-space {
      height: 1700px;
      padding: 6em;
    }

    .display-flex-wrap__element1 {
      flex: 1 1 400px;
    }

    .dragon {
      height: 60px;
      width: 60px;
    }
  }
  

  @media (max-width: 1085px) and (min-width: 701px) {

    .mobile-flex-column{
      display: flex;
      flex-direction: column;
      gap: 30px;
    }

    .frame__picture-mobile-size {
      width: 200px;
      height: 200px;
    }

    .mobile-paragraph-size {
      font-size: 16px;
      width: 500px;
    }

    .frame {
      text-align: center;
    }

    .saurav-intro {
      height: 100%;
    }
    .saurav-picture__frame {
      margin: 30px;
    }

    .content-space {
      height: 1000px;
      padding: 6em;
    }

    .dragon {
      height: 60px;
      width: 60px;
    }

    .display-flex-wrap__element1 {
      flex: 1 1 900px;
    }
  }